.main {
    background-color: cornflowerblue;
    margin: auto;
    border-radius: 5px;
    width: 50%;
    height: auto ;
    box-shadow: 3px 3px 11px -3px rgba(0,0,0,0.75);
    padding: 10px;
    padding-left: 20px;
}

.title {
    margin-top: 10px;
    height: 30px;
    color: white;
    font-size: 25px;
    width: 100%;
    background-color: cornflowerblue;
    border: none;
    font-weight: bolder;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    opacity: 0.6;
  }

.title:focus {
    outline: none;
}

.note {
    margin-top: 10px;
    width: 100%;
    background-color: cornflowerblue;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    height: 80px;
}

.note:focus {
    outline: none;
}


.buttons {
    display: flex;
    justify-content: right;
    margin: 5px;

}


.cancel {
    width: 80px;
    height: 25px;
    padding: 5px;
    color: white;
    background-color: rgb(207, 76, 76);
    margin-right: 10px;
    outline: none;
    border: none;
    font: bolder;
    border-radius: 3px;
    cursor: pointer;
}

.done {
    width: 80px;
    height: 25px;
    padding: 5px;
    color: white;
    background-color: rgb(78, 78, 233);
    margin-right: 10px;
    border: none;
    font: bolder;
    border-radius: 3px;
    cursor: pointer;

}


.cancel:hover {
    background-color: rgb(221, 103, 103);;
}


.done:hover {
    background-color: rgb(107, 107, 221);
}


