.board {
    width: 170.05px;
    height: 90px;
    background-color: dodgerblue;
    cursor: pointer;
    background-size: 100% 100%;
    color: white;
    font-weight: bolder;
    border-radius: 3px;
    margin: 6.5px;
    padding-left: 4px;
    line-height: 3px;
    font-size: 15.6px;
    font-weight: bolder;
    opacity: 0.95;
    font: outline;
    
    cursor: pointer;
}

.board:hover {
    opacity: 0.9;
    box-shadow: 1px 3px 3px -2px rgba(0,0,0,0.75);
    cursor: pointer;
    
}

.board p{
    position: relative;
    z-index: 100;
}

@media (max-width : 760px) {
    .board{
        width: 150px;
        display: block;
    }
}


@media (max-width : 660px) {
    .board{
        width: 300px;
        height: 110px;
        margin-left:50px;
        
    }
}








