
.main {
    background-color: white;
    width: 40%;
    height: auto;
    padding: 10px;
    margin: auto;
    border: 1px solid gainsboro;
    margin-top: 30px;
    border-radius: 3px;
}

.title {
    border-bottom: 1px solid gray;
}

.title h3 {
    margin-top: 0px;
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 32px;
}

.invalid p:first-letter {
    text-transform:capitalize;
}

.submit {
    margin-left: 1%;
    cursor: pointer;
    width: 100px;
    height: 30px;
    background-color: rgb(90, 110, 224);  
    color: white;
    font-size: 15px;
    font-weight: 20px;
    border-radius: 4px; 
}

.submit:disabled {
    cursor: not-allowed;
    color: white;
    background-color: rgb(173, 169, 169);
}

.title p {
    color: rgb(184, 179, 179);
}

@media (max-width : 900px) {
    .main{
        width: 60%;
    }
}