.mainCard {
    margin: 50px;
    margin-left: 20px;
    margin-right: -20px;
    border: 2px solid black;
    width: 20%;
    height: 300px;
    box-shadow: -2px 1px 6px 0px rgba(0,0,0,0.58);
}

.avatar {
    max-height: 80%;
    max-width: 80%;
    border-radius: 50%;
}



