.mainCard {
    vertical-align: top;
    display: inline-block;
    margin: 50px;
    margin-left: 20px;
    margin-right: -20px;
    border-radius: 5px;
    height: 250px;
    width: 20%;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
}


@media (max-width : 1100px) {
    .mainCard {
        width: 30%;
    }
}

@media (max-width : 800px) {
    .mainCard {
        display: block;
        margin: auto;
        width: 50%;
        height: 300px;
    }
}

.height {
    height: 350px;
}

.lowHeight {
    height: 250px;
}

.profile {
    margin-top: 3%;
    margin-left: 26%;
}

.avatar {
    max-height: 65%;
    max-width: 65%;
    border-radius: 200px 200px 200px 200px;
}

.pencilIcon {
    position: absolute;
    width: 5%;
    margin-left: 12%;
    margin-top: -3%;
    padding: 5px;
    text-align: right;
}

.pencilIcon:hover {
    color : rgb(86, 86, 233);
    cursor : pointer;
}









