.main{
    width: 295.99px;
    height: 100.99px;
    display: flex;
    background-color: black;
    border-radius: 4px;
    margin-left: -10px;
}

.input {
    margin-top: 3px;
    display: flex;
}

.user {
    margin-top: 10px;
    color: white;
    display: flex;
    margin-left: 10px;
    
}

.user p {
    margin-top: 0px;
    margin-left: 3px;
    line-height: 14px;
    font-size: 13px;
}

.title {

    background-color: rgba(229, 233, 225, 0.5);
    height: 24px;
    text-decoration: none;
    outline: none;
    color: white;
    padding:3px;
    font-size: 15px;
    width: 250px;
    background: transparent;
    border: none;
    border-radius: 3px;
    margin: 5px;
    font-weight: 900;
    padding-left: 10px;
}

.title:hover {
    background-color: rgba(230, 243, 243, 0.178) ;
    
}

.title:focus {
    background-color: rgba(230, 243, 243, 0.288) ;
    color: white;
}


.backgrounds {
    display: flex;
    margin-left: 20px;

}

.boxes {
    width: 28px;
    height: 28px;
    background-color: yellow;
    margin: 2.4px;
    border-radius: 2px;
}

.boxes span {
    margin-left: 6.6px;
}


.createbutton {
    margin-top: 13px;
    color:white;
    background-color:rgb(50, 168, 50);
    outline: none;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border : 1px solid rgb(50, 168, 50);
    font-size: 12px;
    font-weight: 600;
}

.createbutton:hover {
    background-color:rgb(90, 189, 90);
}

.disablebutton {
    margin-top: 13px;
    color:white;
    background-color:rgb(131, 216, 212);
    outline: none;
    cursor: not-allowed;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border : 1px solid rgb(50, 168, 50);
    font-size: 12px;
}

.disablebutton:hover {
    margin-top: 13px;
    color:white;
    background-color:rgb(131, 216, 212);
    outline: none;
    cursor: not-allowed;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border : 1px solid rgb(50, 168, 50);
    font-size: 12px;
}

