.main {
    background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80');
    opacity: 0.95;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 700px;  
}

.content {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 1px 5px rgba(225,229,213,0.66);
}

.title {
    margin-top: 5%;
    display: inline-block;
    font-size: 5rem;
    margin-bottom: 0px;
}

.button_layout {
    margin-top: 1.5%;
    display: flex;
}

.button {
    height: 50px;
    margin-left: 20px;
}

.b_text {
    display: inline-block;
    font-size: 15px;
}



.phone_icon {
    margin-top: 2%;
    font-size: 30px;
    color: cornsilk;
}

.footnote {
    font-size: 30px;
}

.register_button {
    display: flex;
    width: 10%;
    border: 2px solid white;
    justify-content: center;
}


.register_button:hover {
    background: rgb(32, 134, 165);
    color: white;
    cursor: pointer;
}








