.Categories {
        width: 300px;
        border-radius: 4px;
        -webkit-box-shadow: 1px 2px 20px 0px rgba(232,186,232,1);
        -moz-box-shadow: 1px 2px 20px 0px rgba(232,186,232,1);
        box-shadow: 1px 2px 20px 0px rgba(232,186,232,1);
        margin-left: 38px;
        font-size: 17px;
        

    }


.Categories ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    


}

.Categories li {
    height: 35px;
    border-bottom:1px solid #dddddd;
    align-content: center;
    padding-top: 16px;
    padding-bottom: -5px;
    padding-left: 15px;
    
}


 
@media (max-width : 780px) {
    .Categories {
        width: 250px;
    }
}    




@media (max-width : 430px){
    .Categories{
        display: none;
    }
}