.main {
    display: inline-block;
    width: 60%;
    margin-left: 5%;
}

.spinner {
    margin-top: 30%;
    margin-left: 65%;
}

@media (max-width : 700px){
    .spinner {
        margin-left: 55%;
    }
}