.main {
    padding: 100px;
    display: flex;
    margin-top: -100px;
}

.text {
    padding: 0 30px;
    width: 70%;
}

.content {
    font-size: 17px;
}

.image {
    max-width: 24%;
    max-height: 24%;
    margin-left: 10%;
    margin-right: 10%;
}



