.App {
  text-align: center;
}

body {
  background-color: #fce195;
}

.heading {
  font-size: 35px;
}

.search {
  margin: auto;
  width: 400px;
  height: 40px;
  font-size: 22px;
  padding: 5px;
  margin-top: -5px;
}